<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <h1>Latest News from Our Blog!</h1>
    <p>Dear Subscriber,</p>
    
    <p>We are excited to share with you the latest updates from our blog. Click on the link below to read more:</p>
    
    <p><a href="https://127.0.0.1:5002/blogs/5" >Read Our Latest Blog Post</a></p>
    
    <p>Thank you for subscribing to our newsletter!</p>
    <p>If you wish to unsubscribe, please click the link below:</p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a>
    
    <p>Sincerely,<br> 
    Your Newsletter Team</p>
</body>
</html>
