<!DOCTYPE html>
<html lang="en">

<head>
    <div id="common-head-placeholder"></div>
	{% include 'common-head.html' %}
	
</head>
<body>

    <!-- Header Start  -->
	 <div>
        {% include 'header.html' %}
    </div> 
    <!-- Header End  -->

	<!-- Header Banner Start  -->
 	<section class="header ">	
    <div id="loadHeaderBanner-placeholder"></div>
        <script src="/static/js/loadHeaderBanner.js"></script>
        <script>loadHeaderBanner('<div class="left-content "><h2>Our <span class="highlight">Project</span></h2></div>');</script>
</section>	
<!-- Header Banner End  -->


<section class="service-type mt-5">
    <div class="container">
		<div class="row service-type-gap">
			<div class="col-md-6 centralize">
				
				<img src="./static/image/Group 1675.png" class="img-fluid mb-5">

			</div>
			<div class="col-md-6 centralize">
			<div class="team-page-description">
				<h2>About The App</h2>
				<p> 
					This app is an internal project, outside of work, intent to imporove technical skills in UI/UX design, web development, and project management.
				</p>
				
			</div>
				
			</div>
		</div>
		<div class="row service-type-gap">
			<div class="col-md-6 centralize">
				<div class="team-page-description">
				<h2>Tech stack</h2>
				<p> 
					<li><strong>Language :</strong> using Python for backend, authenitcation, authorization, relations database</li>
					<li><strong>Architecture:</strong> Microservices architecture, flask.</li>
					<li><strong>Frontend development:</strong> HTML5, CSS, JS, React.</li>
					<li><strong>UI/UX:</strong> concepts of designing a reactive application.</li>
					<li><strong>event driven architecture:</strong> using messaging queques to handle in app communication.</li>
 				</p>
			</div>

			</div>
			<div class="col-md-6 centralize">
				<img src="./static/image/Group 1852.jpg" class="img-fluid" width="400" height="300" alt="Image">


			</div>
		</div>
    
    </div>
</section>

<!-- Team Section Start  -->

<section class="team section-padding">
	<div class="container">
			<div class="row"> 
				<h2 class="text-center w-100 service-heading">Our
					<span class="highlight">Team</span> 
				</h2>
			</div>
		<div class="container mt-5">	
			<div class="row">	
				
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/rupesh.jpeg" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>Engagement and Delivery Manager/Program Manager , Functional and Tech Lead for Mobile and Digital payments platforms. experience in Digital wallets implementation such as Apple Pay , Samsung Pay , Citi Pay , CODI etc 

										
										</strong></p>
								</div>
							</div>
						</div>
						<P>CTO</P>
									<p>Rupesh</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
			
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/johanna.jpeg" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>I'm a people-focused UX designer and QA Engineer with a passion for creating intuitive and user-centered experiences. My background spans across Sweden, Australia, the US, and Mexico, fostering a love for collaboration and working in multicultural teams.

										</strong></p>
								</div>
							</div>
						</div>
						<P>UX/UI</P>
									<p>Johanna</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/team1.png" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>a short profile description
										</strong></p>
								</div>
							</div>
						</div>
						<P>Frontend development</P>
									<p>lars</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">

						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front">
									<img src="./static/image/team1.png" alt="" class="img-fluid"/>								
								</div>
									<div class="flip-card-back">
									<p><strong>a short profile description
										</strong></p>
								</div>
							</div>
						</div>
						<P>backend development</P>
									<p>Martin</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-github"></i></a></li>
									</ul>
					</div>
				</div>
			<!-- 	 example of a non flip card, lets decide on the UI -->
				<div class="col-lg-3 col-md-6">
					<div class="team-card text-center">
						<img src="./static/image/rami1.jpg" alt="" class="img-fluid"/>
						<p> Consultant</p>
						<p> Rami </p>
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-github"></i></a></li>
						</ul>
					</div>
				</div>				
		</div>
	</div>
</section>
<!-- Team Section End  -->


<!--  Call to Action Start  -->

<section class="section-padding team-counter "> 
	<div class="container mt-5">
		<div class="row justify-content-center">
			<h2 class="text-center w-100 service-heading">Any feedback or  
				<span class="highlight">suggestion?</span> 
			</h2>
			<p class="sub-heading text-center w-100">
				Please fill in a change request form
			</p>
			<a href="/contactus">
			<button class="mt-3">Contact Us <i class="fas fa-angle-right"></i></button>
			</a>
		</div>
	</div>
</section>
	
	<!--  Call to Action End  -->
	
    <div id="footer-placeholder"></div> <!-- Placeholder for the footer -->
    <!-- footer Start  -->
        <script src="./static/js/loadfooter.js"></script>

</body>

</html>